.overViewContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2.5%;
}

.statContainer{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1vw solid rgb(0, 0, 0);
    border-radius: 7.5%;
    font-weight: bolder;
}